<div ng-if="messageService.isShown"
  class="message {{messageService.properties.className || ''}}">
  <a ng-if="messageService.properties.close"
    ng-click="messageService.hide()"
    class="message-close">
    <i class="ion ion-ios-close-empty"></i>
  </a>
  <div class="message-container">
    <div class="message-content"
      ng-class="messageService.properties.align">
      <div ng-if="messageService.properties.icon"
        class="message-icon">
        <i class="{{messageService.properties.icon}}"
          aria-hidden="true"></i>
      </div>
      <div ng-bind="messageService.properties.text" ng-if="messageService.properties.text"></div>
      <div compile="{{vm.trustAsHtml(messageService.properties.customHtml)}}"
        class="message-custom-html"></div>
    </div>
    <div ng-if="messageService.properties.buttons"
      class="message-buttons">
      <a ng-if="messageService.properties.buttons === true"
        ng-click="messageService.hide()"
        class="message-button message-confirm">אישור</a>
      <span ng-if="vm.isArray(messageService.properties.buttons)"
        ng-repeat="button in messageService.properties.buttons">
        <a ng-if="button.type != 'html'"
          ng-click="button.action()"
          class="message-button">{{button.label}}</a>
        <span ng-if="button.type == 'html'"
          compile="{{button.html}}"
          scope="button.scope">
        </span>
      </span>
    </div>
  </div>
</div>
