<div class="datepicker {{vm.disabled ? 'disabled' : ''}}">
  <ng-transclude ng-click="vm.show()"></ng-transclude>
  <div class="modal-box"
    ng-if="vm.isShown">
    <div class="modal-box-container">
      <a class="modal-box-close"
        ng-click="vm.hide()">
        <i class="ion ion-ios-close-empty"></i>
      </a>
      <div class="modal-box-content">
        <div class="dp-datepicker-container">
          <div class="dp-datepicker-column">
            <div class="dp-month-list"
              ng-if="vm.mode == 'gregorian'">
              <div class="dp-month"
                ng-repeat="(number, month) in vm.monthsList"
                ng-click="vm.checkDateMinLimit('month',number) && vm.checkDateMaxLimit('month',number) && vm.changeDate('month', month.number)"
                ng-class="{'dp-current': (vm.selectedDate | date: 'M') === number , 'disabled': !vm.checkDateMinLimit('month',number) || !vm.checkDateMaxLimit('month',number)}">
                <div class="dp-month-name">
                  {{month.name}}
                </div>
                <div class="dp-month-number">
                  {{month.number}}
                </div>
              </div>
            </div>
            <div ng-if="vm.mode == 'hebrew'"
              class="dp-month-list dp-hebrew-month-list">
              <div class="dp-month"
                ng-repeat="(index, month) in vm.hebrewMonthsList"
                ng-click="vm.checkDateMinLimit('month',month.number) && vm.checkDateMaxLimit('month',month.number) && vm.changeHebrewDate('month', month.number)"
                ng-class="{'dp-current': vm.Number(vm.selectedHebrewDateObj.month) === month.number , 'disabled': !vm.checkDateMinLimit('month',month.number) || !vm.checkDateMaxLimit('month',month.number)}">
                <div class="dp-month-name">
                  {{month.name}}
                </div>
              </div>
            </div>
            <div class="dp-year-list"
              ng-if="vm.mode == 'gregorian'">
              <div class="dp-year-slider">
                <i ng-click="vm.next('year')"
                  class="fa fa-chevron-right"></i>
                <span class="dp-selected-year">{{vm.selectedDate | date: 'yyyy'}}</span>
                <i ng-click="vm.prev('year')"
                  class="fa fa-chevron-left"></i>
              </div>
              <div class="dp-list">
                <span class="dp-year"
                  ng-repeat="year in vm.yearList() track by $index"
                  ng-click="vm.checkDateMinLimit('year',year) && vm.checkDateMaxLimit('year',year) && vm.changeDate('year', year)"
                  ng-class="{'disabled': !vm.checkDateMinLimit('year', year) || !vm.checkDateMaxLimit('year',year)}"
                  >{{year}}</span>
              </div>
            </div>
            <div class="dp-year-list dp-hebrew-year-list"
              ng-if="vm.mode == 'hebrew'">
              <div class="dp-year-slider">
                <i ng-click="vm.hebrewPrev('year')"
                  class="fa fa-chevron-right"></i>
                <span class="dp-selected-year">{{vm.Hebcal.gematriya(vm.selectedHebrewDateObj.year)}}</span>
                <i ng-click="vm.hebrewNext('year')"
                  class="fa fa-chevron-left"></i>
              </div>
              <div class="dp-list">
                <span class="dp-year"
                  ng-repeat="year in vm.hebrewYearList()"
                  ng-click="vm.checkDateMinLimit('year',year) && vm.checkDateMaxLimit('year',year) && vm.changeHebrewDate('year', year)"
                  ng-class="{'disabled': !vm.checkDateMinLimit('year', year) || !vm.checkDateMaxLimit('year',year)}">
                  {{vm.Hebcal.gematriya(year % 100) || vm.Hebcal.gematriya(year % 1000)}}</span>
              </div>
            </div>
            <div ng-click="vm.changeMode()"
              class="dp-change-mode">
              הצג תאריך
              <span class="dp-mode">{{vm.mode === 'gregorian' ? 'עברי' : 'לועזי'}}</span>
            </div>
          </div>
          <div class="dp-datepicker-column">
            <div class="dp-selected-date"
              ng-if="vm.mode === 'gregorian'">
              <div class="dp-date">
                <span>{{vm.selectedDate | date: 'dd/MM/yyyy'}}</span>
              </div>
              <div class="dp-sub-date">
                <span>{{vm.selectedHebrewDate}}</span>
              </div>
              <div class="dp-picker">
                <div class="dp-block dp-day">
                  <i ng-click="vm.next('day')"
                    class="dp-arrow ion ion-ios-arrow-up"></i>
                  <span class="dp-number">{{vm.selectedDate | date: 'dd'}}</span>
                  <i ng-click="vm.prev('day')"
                    class="dp-arrow ion ion-ios-arrow-down"></i>
                </div>
                -
                <div class="dp-block dp-month">
                  <i ng-click="vm.next('month')"
                    class="dp-arrow ion ion-ios-arrow-up"></i>
                  <span class="dp-number">{{vm.selectedDate | date: 'MM'}}</span>
                  <i ng-click="vm.prev('month')"
                    class="dp-arrow ion ion-ios-arrow-down"></i>
                </div>
                -
                <div class="dp-block year">
                  <i ng-click="vm.next('year')"
                    class="dp-arrow ion ion-ios-arrow-up"></i>
                  <span class="dp-number">{{vm.selectedDate | date: 'yy'}}</span>
                  <i ng-click="vm.prev('year')"
                    class="dp-arrow ion ion-ios-arrow-down"></i>
                </div>
              </div>
            </div>
            <div class="dp-selected-date dp-hebrew-selected-date"
              ng-if="vm.mode === 'hebrew'">
              <div class="dp-date">
                <span>{{vm.selectedHebrewDate}}</span>
              </div>
              <div class="dp-sub-date">
                <span>{{vm.selectedDate | date: 'dd/MM/yyyy'}}</span>
              </div>
              <div class="dp-picker">
                <div class="dp-block dp-day">
                  <i ng-click="vm.hebrewNext('day')"
                    class="dp-arrow ion ion-ios-arrow-up"></i>
                  <span class="dp-number">{{vm.Hebcal.gematriya(vm.selectedHebrewDateObj.day)}}</span>
                  <i ng-click="vm.hebrewPrev('day')"
                    class="dp-arrow ion ion-ios-arrow-down"></i>
                </div>
                -
                <div class="dp-block dp-month">
                  <i ng-click="vm.hebrewNext('month')"
                    class="dp-arrow ion ion-ios-arrow-up"></i>
                  <span class="dp-number">{{vm.selectedHebrewDateObj.getMonthName('h')}}</span>
                  <i ng-click="vm.hebrewPrev('month')"
                    class="dp-arrow ion ion-ios-arrow-down"></i>
                </div>
                -
                <div class="dp-block year">
                  <i ng-click="vm.hebrewNext('year')"
                    class="dp-arrow ion ion-ios-arrow-up"></i>
                  <span class="dp-number">{{vm.Hebcal.gematriya(vm.selectedHebrewDateObj.year % 100 || vm.selectedHebrewDateObj.year % 1000)}}</span>
                  <i ng-click="vm.hebrewPrev('year')"
                    class="dp-arrow ion ion-ios-arrow-down"></i>
                </div>
              </div>
            </div>
            <div class="dp-day-list"
              ng-if="vm.mode === 'gregorian'">
              <div class="dp-datepicker-row"
                ng-repeat="row in vm.daysList">
                <span class="dp-day"
                  ng-repeat="day in row"
                  ng-click="vm.checkDateMinLimit('day',day) && vm.checkDateMaxLimit('day',day) && vm.changeDate('day', day)"
                  ng-if="$parent.$index != 4 || vm.Number(day) <= vm.moment(vm.selectedDate).daysInMonth()"
                  ng-class="{'dp-current': (vm.selectedDate | date: 'dd') === day, 'disabled': !vm.checkDateMinLimit('day',day) || !vm.checkDateMaxLimit('day',day)}">
                  {{day}}
                  <span class="dp-day-translation"
                    ng-click="$event.stopPropagation()">
                    <div class="dp-day-translation-wrap">
                      <div class="dp-month">
                        {{vm.dayTranslationToHebrew(day)}}
                      </div>
                      <div class="dp-week">{{vm.dayWeekDayTranslation(day)}}</div>
                    </div>
                  </span>
                </span>
              </div>
              <span ng-click="vm.checkDateLimitToday() && vm.selectDate()"
                class="dp-today-button"
                ng-class="{'disabled': vm.checkDateLimitToday() === false}">היום</span>
            </div>
            <div class="dp-day-list dp-hebrew-day-list"
              ng-if="vm.mode === 'hebrew'">
              <div class="dp-datepicker-row"
                ng-repeat="row in vm.hebrewDaysList">
                <span class="dp-day"
                  ng-repeat="(number, day) in row"
                  ng-click="vm.checkDateMinLimit('day',number) && vm.checkDateMaxLimit('day',number) && vm.changeHebrewDate('day', number)"
                  ng-if="number < 30 || number <= vm.selectedHebrewDateObj.daysInMonth()"
                  ng-class="{'dp-current': vm.Number(number) === vm.selectedHebrewDateObj.day, 'disabled': !vm.checkDateMinLimit('day',number) || !vm.checkDateMaxLimit('day',number)}">
                  {{day}}
                  <span class="dp-day-translation"
                    ng-click="$event.stopPropagation()">
                    <div class="dp-day-translation-wrap">
                      <div class="dp-month">
                        {{vm.dayTranslationToGreg(day)}}
                      </div>
                      <div class="dp-week">{{vm.dayWeekHebrewDayTranslation(day)}}</div>
                    </div>
                  </span>
                </span>
              </div>
              <span ng-click="vm.checkDateLimitToday() && vm.selectDate()"
                class="dp-today-button"
                ng-class="{'disabled': vm.checkDateLimitToday() === false}">היום</span>
            </div>
            <div class="dp-buttons">
              <a class="dp-button primary"
                ng-click="vm.save()">בחר</a>
              <a class="dp-button"
                ng-click="vm.close()">בטל</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
