<div class="dialog"
  ng-class="{'is-shown': vm.isShown}">
  <div class="dialog-trigger"
    ng-click="vm.toggle();$event.stopPropagation()"
    ng-transclude></div>
  <div class="dialog-container {{vm.isShown ? '' : 'is-hide'}}"
    ng-click="vm.clickOnElement();$event.stopPropagation()">
    <div class="dialog-arrow"></div>
    <div class="dialog-wrap">
      <span ng-if="vm.closeIcon"
        ng-click="vm.hide()"
        class="ion-ios-close-empty"></span>
      <div>{{text}}</div>
      <div ng-transclude="dialogContent"></div>
    </div>
  </div>
</div>
