demo section {
  padding: 15px;
  border-bottom: solid 1px #555555;
}
demo section textarea {
  margin-top: 15px;
  width:100%;
  direction: ltr;
  text-align: left;
  resize: none;
}

demo .test{
  font-weight: 500;
  font-size: 15px;
  color: black;
  font-family: "Open Sans", sans-serif !important;
  text-align: right;
  display: flex;
}
