<form name="vm.demoForm">
  <section>
    <h1>Checkbox</h1>
    <checkbox model="vm.checkboxChecked"
      bind-id="checkbox"
      label="מסומן"></checkbox>
    <textarea disabled
      class="code"><checkbox model="vm.checkboxChecked" bind-id="checkbox" label="מסומן"></checkbox></textarea>
  </section>

  <section>
    <h1>numberSpinner</h1>
    <div>
      <input type="checkbox"
        name="numberSpinnerDisabled"
        id="numberSpinnerDisabled"
        ng-model="vm.numberSpinnerDisabled">
      <label for="numberSpinnerDisabled">Disabled</label>
      <br>
      <br>
    </div>
    <number-spinner model="vm.numberSpinnerValue"
      total-value="50"
      label="ערכים"
      disabled="vm.numberSpinnerDisabled"></number-spinner>
    <h3>compact mode</h3>
    <number-spinner model="vm.numberSpinnerValue"
      total-value="50"
      currency-icon="$"
      label="ערכים"
      compact="true"
      disabled="vm.numberSpinnerDisabled"></number-spinner>
    <textarea disabled
      class="code"><number-spinner model="vm.numberSpinnerValue" total-value="50" label="ערכים" disabled="vm.numberSpinnerDisabled"></number-spinner></textarea>
    <textarea disabled
      class="code"><number-spinner model="vm.numberSpinnerValue" total-value="50" currency-icon="$" label="ערכים" compact="true" disabled="vm.numberSpinnerDisabled"></number-spinner></textarea>
  </section>

  <section>
    <h1>dialog</h1>
    <input type="checkbox"
      name="openDialog"
      id="openDialog"
      ng-model="vm.openDialog">
    <label for="openDialog">Dialog is open</label>
    <br>
    <br>
    <span dialog
      class="left"
      is-open="vm.openDialog"
      close-by-click-outside="false">
      <button>שמאל למטה</button>
      <dialog-content>תוכן ההודעה</dialog-content>
    </span>
    <span dialog
      class="left top"
      close-by-click="false"
      close="vm.closeDialog">
      <button>שמאל למעלה</button>
      <dialog-content>תוכן ההודעה
        <a style="-webkit-appearance:button; -moz-appearance:button; -ms-appearance:button;"
          ng-click="vm.closeDialog()">X</a>
      </dialog-content>
    </span>
    <span dialog
      class="">
      <button>ברירת מחדל</button>
      <dialog-content>תוכן ההודעה</dialog-content>
    </span>
    <span dialog
      class="top">
      <button>אמצע למעלה</button>
      <dialog-content>תוכן ההודעה</dialog-content>
    </span>
    <span dialog
      class="no-arrow right">
      <button>ימין ללא חץ</button>
      <dialog-content>תוכן ההודעה</dialog-content>
    </span>

    <textarea disabled
      class="code"
      rows="4"><span dialog class="left" is-open="vm.openDialog" close-by-click-outside="false">
      <button>שמאל למטה</button>
      <dialog-content>תוכן ההודעה</dialog-content>
    </span></textarea>
    <textarea disabled
      class="code"
      rows="8">
  <span dialog class="left top" close-by-click="false" close="vm.closeDialog">
    <button>שמאל למעלה</button>
    <dialog-content>תוכן ההודעה
      <a style="-webkit-appearance:button; -moz-appearance:button; -ms-appearance:button;"
        ng-click="vm.closeDialog()">X</a>
    </dialog-content>
  </span></textarea>
    <textarea disabled
      class="code"
      rows="4">
    <span dialog class="">
      <button>ברירת מחדל</button>
      <dialog-content>תוכן ההודעה</dialog-content>
    </span></textarea>
    <textarea disabled
      class="code"
      rows="1">
    <button dialog class="top" >אמצע למעלה<dialog-content>תוכן ההודעה</dialog-content></button></textarea>
    <textarea disabled
      class="code"
      rows="1">
    <button dialog class="no-arrow right" >ימין ללא חץ<dialog-content>תוכן ההודעה</dialog-content></button>
    </textarea>
  </section>

  <section>
    <h1>modalBox</h1>
    <div>
      <input type="checkbox"
        name="modalBoxIsShown"
        id="modalBoxIsShown"
        ng-model="vm.modalBoxIsShown">
      <label for="modalBoxIsShown">Modal-box is open</label>
    </div>
    <div>
      <input type="checkbox"
        name="modalBoxDarkScreen"
        id="modalBoxDarkScreen"
        ng-model="vm.modalBoxDarkScreen">
      <label for="modalBoxDarkScreen">dark screen</label>
    </div>
    <br>
    <br>
    <span modal-box
      is-open="vm.modalBoxIsShown"
      dark-screen="vm.modalBoxDarkScreen"
      width="{{vm.modalBoxWidth}}">
      <button>Open modal-box</button>
      <modal-box-header>כותרת</modal-box-header>
      <modal-box-content>
        <p style="padding:25px; text-align:center;">תוכן</p>
        <button ng-click="$root.$broadcast('modalBoxClose')">Emit סגירת מודל</button>
      </modal-box-content>
    </span>
    <textarea disabled
      class="code"
      rows="9"><span modal-box>
    <button>Open modal-box</button>
    <modal-box-header>כותרת</modal-box-header>
    <modal-box-content>
      <p style="padding:25px; text-align:center;">תוכן</p>
      <button ng-click="$root.$broadcast('modalBoxClose')">Emit סגירת מודל</button>
    </modal-box-content>
  </span></textarea>
  </section>

  <section>
    <h1>inputCurrency</h1>
    סכום: {{vm.inputCurrencyModel}} ₪
    <br>
    <br>
    <input ng-model="vm.inputCurrencyModel"
      max="500"
      input-currency />
    <textarea disabled
      class="code"
      rows="1"><input ng-model="vm.inputCurrencyModel" input-currency /></textarea>
  </section>

  <section>
    <h1>customInput</h1>
    ng-model:
    <br> {{vm.customInputModel}}
    <br>
    <br>
    <custom-input type="text"
      required="true"
      bind-id="custom-input-id"
      bind-name="customInputField"
      form-field="vm.demoForm.customInputField"
      error-message="vm.customInputErrorMessage"
      label="תווית"
      focus="true"
      model="vm.customInputModel"
      icon="₪"
      icon-class=""
      placeholder="placeholder"
      tab-index="2"></custom-input>
      <!-- description="טקסט עזר לתיאור השדה" -->
      <br>
    <custom-input type="text"
      bind-id="custom-input-id"
      label="תווית"
      icon="$"
      icon-class=""
      description="טקסט עזר לתיאור השדה">
      <input type=""
        style="color:blue; background:aqua;"
        ng-model="vm.customInputModel" />
    </custom-input>
    <br>
    <custom-input type="textarea"
      required="true"
      bind-id="custom-input-id"
      bind-name="customInputField"
      form-field="vm.demoForm.customInputField"
      error-message="vm.customInputErrorMessage"
      label="תווית"
      model="vm.customInputModel"
      placeholder="placeholder"
      description="טקסט עזר לתיאור השדה"
      tab-index="2"></custom-input>
    <br>
    <textarea disabled
      class="code"
      rows="2"><custom-input type="text" bind-id="custom-input-id" bind-name="" label="תווית" model="vm.customInputModel" icon="₪" icon-class="" description="טקסט עזר לתיאור השדה" placeholder="placeholder"></custom-input></textarea>
    <textarea disabled
      class="code"
      rows="4"><custom-input type="text" bind-id="custom-input-id" label="תווית" icon="$" icon-class="" description="טקסט עזר לתיאור השדה">
    <input type="" style="color:blue; background:aqua;" ng-model="vm.customInputModel" />
  </custom-input></textarea>
  </section>

  <section>
    <h1>customInput autocomplete</h1>
    ng-model:
    <br> {{vm.autoCompleteModel}}
    <br>
    <br>
    <custom-input bind-id="custom-input-id"
      label="אוטו קומפליט"
      icon-class=""
      model="vm.autoCompleteModel"
      description="טקסט עזר לתיאור השדה"
      type="autoComplete"
      array-items="[{name:'שטרן אברהם' }, { name: 'עזרא הסופר' } ]"
      filter="true"
      prop-item-selected="'name'"
      auto-complete-row="vm.autoCompleteHtml"
      close-auto-complete-by-click-outside="false">
    </custom-input>
    <!-- auto-complete-row="vm.autoCompleteHtml" -->

    <textarea disabled
      class="code"
      rows="12">
      <custom-input
        bind-id="custom-input-id"
        label="אוטו קומפליט"
        icon-class=""
        model="vm.autoCompleteModel"
        description="טקסט עזר לתיאור השדה"
        type="autoComplete"
        array-items="[{name:'שטרן אברהם' },{'עזרא הסופר' name: } ]"
        auto-complete-row="vm.autoCompleteHtml"
        filter="true" >
      </custom-input>
    </textarea>
  </section>

  <section ng-init="vm.datepickerModel = ''" >
    <h1>DatePicker</h1>
    ng-model:
    <br> {{vm.datepickerModel}}
    <br>
    <br>
    <custom-input bind-id="datepicker-id"
      label="דייט פיקר"
      icon-class=""
      model="vm.datepickerModel"
      description="טקסט עזר לתיאור השדה"
      open="vm.datepickerIsOpen"
      type="datepicker"
      date-min-limit="16/02/2019"
      date-max-limit="15/01/2020"
      >
      <input ng-model="vm.datepickerModel"
        input-date>
    </custom-input>
    <br>
    <br>
    <button ng-click="vm.datepickerIsOpen = true">Open Datepicker</button>
    <br>
    <textarea disabled
      class="code"
      rows="8">
        <custom-input bind-id="datepicker-id"
          label="דייט פיקר"
          icon-class=""
          model="vm.datepickerModel"
          description="טקסט עזר לתיאור השדה"
          open="vm.datepickerIsOpen"
          type="datepicker"
          date-min-limit="26/02/2019">
        </custom-input>
    </textarea>
  </section>

  <section ng-init="vm.datepickerRangeModel = {'from': '', 'to': ''}">
    <h1>DatePicker Range</h1>
    ng-model:
    <br> {{vm.datepickerRangeModel}}
    <br>
    <br>
    <custom-input bind-id="datepicker-range-id"
      type="datepickerRange"
      label="דייט פיקר טווח תאריכים"
      icon-class=""
      model="vm.datepickerRangeModel"
      description="טקסט עזר לתיאור השדה"
      open="vm.datepickerRangeIsOpen">
    </custom-input>
    <br>
    <br>
    <textarea disabled
      class="code"
      rows="9">
<custom-input bind-id="datepicker-range-id"
  type="datepickerRange"
  label="דייט פיקר טווח תאריכים"
  icon-class=""
  model="vm.datepickerRangeModel"
  description="טקסט עזר לתיאור השדה"
  open="vm.datepickerRangeIsOpen">
</custom-input>
    </textarea>
  </section>

  <section>
    <h1>expInput</h1>
    <div style="width:180px; margin-right:150px; margin-bottom:50px;">
      <exp-input month-model="vm.expInput.month"
        year-model="vm.expInput.year"></exp-input>
    </div>
    <div style="width:180px; margin-right:150px; margin-bottom:50px;">
      <exp-input month-model="vm.expInput.month"
        year-model="vm.expInput.year"
        datepicker="false"></exp-input>
    </div>
    <textarea disabled
      class="code"
      rows="2"><exp-input month-model="vm.expInput.month" year-model="vm.expInput.year"></exp-input></textarea>
    <textarea disabled
      class="code"
      rows="2"> <exp-input month-model="vm.expInput.month" year-model="vm.expInput.year" datepicker="false"></exp-input></textarea>
  </section>

  <section>
    <h1>message</h1>

    <label>close:</label>
    <input type="checkbox"
      ng-model="vm.messageProperties.close" />
    <br>
    <label>icon:</label>
    <input ng-model="vm.messageProperties.icon" />
    <br>
    <label>text:</label>
    <input ng-model="vm.messageProperties.text" />
    <br>
    <label>customHtml:</label>
    <br>
    <textarea rows="8"
      col
      ng-model="vm.messageProperties.customHtml"
      style="direction: ltr; width:700px;"></textarea>
    <br>
    <label>buttons:</label>
    <select ng-change="vm.changeMessageButtons()"
      ng-model="vm.selectedMessageButton">
      <option value="true">true</option>
      <option value="false">false</option>
      <option value="array">array</option>
    </select>
    <br>
    <br>

    <button ng-click="vm.showMessage()">Show Message</button>

    <textarea disabled
      class="code"
      rows="2">messageService.show(options);</textarea>
  </section>

  <section ng-init="vm.rangeSliderModel = {'from': 0, 'to': 10000}">
    <h1>Range Slider</h1>
    ng-model:
    <br> {{vm.rangeSliderModel}}
    <br>
    <br>
    <custom-input bind-id="datepicker-range-id"
      type="rangeSlider"
      label="טווח מספרים"
      icon-class=""
      model="vm.rangeSliderModel"
      description="טקסט עזר לתיאור השדה"
      options="vm.rangeSliderOptions">
    </custom-input>
    <br>
    <br>
    <textarea disabled
      class="code"
      rows="9"><custom-input bind-id="datepicker-range-id"
    type="rangeSlider"
    label="טווח מספרים"
    icon-class=""
    model="vm.rangeSliderModel"
    description="טקסט עזר לתיאור השדה"
    options="vm.rangeSliderOptions">
  </custom-input></textarea>
    <textarea disabled
      class="code"
      rows="10">vm.rangeSliderOptions = {
    floor: 1,
    pushRange: true,
    hideLimitLabels: true,
    ceil: 50000,
    logScale: true,
    translate: function (value) {
      return $filter('number')(value, '') + ' ₪';
    }
  };</textarea>
    <div> rz-slider-options Documentation:
      <a target="_blank"
        href="https://github.com/angular-slider/angularjs-slider#directive-attributes">Here</a>
    </div>
  </section>

</form>
