<section>
  <h1>Checkbox</h1>
  <checkbox bind-model="vm.checkboxChecked" bind-id="checkbox" label="מסומן"></checkbox>
  <textarea disabled><checkbox bind-model="vm.checkboxChecked" bind-id="checkbox" label="מסומן"></checkbox></textarea>
</section>
<section>
  <h1>numberSpinner</h1>
  <div>
    <input type="checkbox" name="numberSpinnerDisabled" id="numberSpinnerDisabled" ng-model="vm.numberSpinnerDisabled">
    <label for="numberSpinnerDisabled">Disabled</label>
    <br><br>
  </div>
  <number-spinner value="vm.numberSpinnerValue" total-value="50" label="ערכים" disabled="vm.numberSpinnerDisabled"></number-spinner>
  <h3>compact mode</h3>
  <number-spinner value="vm.numberSpinnerValue" total-value="50" currency-icon="$" label="ערכים" compact="true" disabled="vm.numberSpinnerDisabled"></number-spinner>
  <textarea disabled><number-spinner value="vm.numberSpinnerValue" total-value="50" label="ערכים" disabled="vm.numberSpinnerDisabled"></number-spinner></textarea>
  <textarea disabled><number-spinner value="vm.numberSpinnerValue" total-value="50" currency-icon="$" label="ערכים" compact="true" disabled="vm.numberSpinnerDisabled"></number-spinner></textarea>
</section>
<section>
  <h1>dialog</h1>
  <span dialog class="left"><button>שמאל למטה</button><dialog-content>תוכן ההודעה</dialog-content></span>
  <button dialog class="left top">שמאל למעלה<dialog-content>תוכן ההודעה</dialog-content></button>
  <button dialog class="">ברירת מחדל<dialog-content>תוכן ההודעה</dialog-content></button>
  <button dialog class="top">אמצע למעלה<dialog-content>תוכן ההודעה</dialog-content></button>
  <button dialog class="no-arrow left">שמאל ללא חץ<dialog-content>תוכן ההודעה</dialog-content></button>
</section>
<section>
  <h1>modalBox</h1>
  <span modal-box>
    <button>Open modal-box</button>
    <modal-box-header>כותרת</modal-box-header>
    <modal-box-content>
        <p style="padding:25px;text-align:center">תוכן</p>
        <button ng-click="$root.$broadcast('modalBoxClose')">Emit סגירת מודל</button>
    </modal-box-content>
  </span>
  <textarea disabled rows="9"><span modal-box>
  <button>Open modal-box</button>
  <modal-box-header>כותרת</modal-box-header>
  <modal-box-content>
    <p style="padding:25px;text-align:center">תוכן</p>
    <button ng-click="$root.$broadcast('modalBoxClose')">Emit סגירת מודל</button>
  </modal-box-content>
</span></textarea>
</section>
