[dialog] {
  position: relative;
  display: inline-block;
  z-index: 1;
}
[dialog] div.dialog-trigger {
  display: inline-block;
}
[dialog] .dialog {
  border: solid 1px #ccc;
  border-radius: 4px;
  background: #fff;
  position: absolute;
  box-shadow: 1px 1px 5px #ccc;
}
[dialog] .dialog div.dialog-wrap {
  background: #fff;
  min-width: 100px;
  /*min-height: 50px;*/
  border-radius: 4px;
  position: relative;
  padding: 15px;
  white-space: nowrap
}
/*dialog align*/
[dialog] .dialog, [dialog].center .dialog {
  right: 50%;
  left: auto;
  transform: translateX(50%);
}
[dialog].right .dialog {
  right: auto;
  left: 0;
  transform: none;
}
[dialog].left .dialog {
  right: 0;
  left: auto;
  transform: none;
}
[dialog] .dialog,
[dialog].bottom .dialog {
  top: calc(100% + 14px);
  bottom: auto;
}
[dialog].top .dialog {
  top: auto;
  bottom: calc(100% + 14px);
}
/*arrow*/
[dialog] .dialog-arrow {
  width: 20px;
  height: 20px;
  background: #fff;
  border: solid 1px;
  position: absolute;
  transform: rotate(45deg);
  border: solid 1px #ccc;
  box-shadow: 1px 1px 5px #ccc;
}
[dialog] .dialog-arrow,
[dialog].center .dialog-arrow {
  right: calc(50% - 9px);
  left: auto;
}
[dialog].right .dialog-arrow {
  right: auto;
  left: 30px;
}
[dialog].left .dialog-arrow {
  right: 30px;
  left: auto;
}
[dialog] .dialog-arrow,
[dialog].bottom .dialog-arrow {
  top: auto;
  bottom: calc(100% - 12px);
}
[dialog].top .dialog-arrow {
  top: calc(100% - 12px);
  bottom: auto;
}
/*no-arrow*/
[dialog].no-arrow .dialog-arrow {
  display: none;
}
[dialog].no-arrow .dialog-arrow {
  display: none;
}
[dialog].no-arrow .dialog,
[dialog].no-arrow.bottom .dialog {
  top: calc(100% + 4px);
  bottom: auto;
}
[dialog].no-arrow.top .dialog {
  bottom: calc(100% + 4px);
  top: auto;
}
/*text align*/
[dialog] .dialog,
[dialog].text-center .dialog {
  text-align: center;
}
[dialog].text-right .dialog {
  text-align: right;
}
[dialog].text-left .dialog {
  text-align: left;
}

/*menu*/
[dialog].menu .dialog-arrow {
  display: none;
}
[dialog].menu .dialog-arrow {
  display: none;
}
[dialog].menu .dialog-arrow {
  display: none;
}
[dialog].menu .dialog,
[dialog].menu.bottom .dialog {
  top: calc(100% + 2px);
}
[dialog].menu.top .dialog {
  bottom: calc(100% + 2px);
}
[dialog].menu .dialog div.dialog-wrap {
  color: #666666;
  font-size: 14px;
  font-family: 'Open Sans Hebrew', arial, sans-serif;
  text-align: right;
  font-weight: bold;
  cursor: auto;
}
[dialog].menu .dialog div.dialog-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
[dialog].menu .dialog div.dialog-wrap ul li {
  padding: 15px 10px;
  cursor: pointer;
}
[dialog].menu .dialog div.dialog-wrap ul li:hover {
  color: #18be8c;
}
