/* container */
.datepicker {
  .fa-fw {
    position: absolute;
    left: 9px;
    bottom: 7px;
  }

  .modal-box-container {
    width: 800px;
    max-width: 90%;
    padding: 25px 40px;
  }

  [ng-click] {
    cursor: pointer;
    user-select: none;
  }

  &.disabled [ng-click] {
    cursor: default;
  }

  * {
    box-sizing: border-box;
  }

  .dp-datepicker-column {
    flex: 1;

    &:last-of-type {
      flex: 2;
      margin-right: 35px;
    }
  }

  /* month-list */
  .dp-month-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    color: rgb(191, 191, 191);
    margin-top: 20px;

    .dp-month {
      width: 65px;
      height: 65px;
      text-align: center;
      padding: 10px;

      &.dp-current,
      &.dp-current:hover {
        color: rgb(24, 190, 140);
      }

      &:hover {
        color: #000;
      }

      &.disabled {
        cursor: default;
        color: #e1e1e1;

        &:hover {
          color: #e1e1e1;
        }
      }
    }

    .dp-month-number {
      font-size: 16px;
      margin-top: 2px;
    }
  }

  /* year-list */
  .dp-year-list {
    width: 180px;
    margin: 15px auto 45px;
    text-align: center;
    border-top: dashed 1px rgb(243, 243, 243);

    .dp-year-slider {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px 0 10px;

      i {
        line-height: 30px;
        color: rgb(217, 217, 217);
      }

      i:hover,
      i:active {
        color: rgb(24, 190, 140);
      }
    }

    .dp-list {
      color: rgb(217, 217, 217);
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      margin: 12px 0;
      user-select: none;
    }

    &.dp-hebrew-year-list .dp-list {
      flex-direction: row;
    }

    .dp-selected-year {
      color: rgb(24, 190, 140);
      font-size: 24px;
    }

    .dp-year {
        &.disabled {
        cursor: default;
        color: #e1e1e1;
      }
    }
  }

  /* change-mode */
  .dp-change-mode {
    color: rgb(217, 217, 217);
    border: dashed 1px rgb(217, 217, 217);
    padding: 5px 10px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;

    .dp-mode {
      color: rgb(255, 192, 0);
    }
  }

  /* selected date */
  .dp-selected-date {
    text-align: center;
    font-weight: 100;
    margin-bottom: 30px;
    min-height: 120px;
    position: relative;

    .dp-date {
      color: #000;
      font-size: 50px;
      padding-top: 18px;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.4s, visibility 0s;
    }

    .dp-sub-date {
      color: rgb(161, 161, 161);
      font-size: 17px;
      margin-top: 2px;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.4s, visibility 0s;
    }

    &:hover .dp-date,
    &:hover .dp-sub-date {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.4s, visibility 0s 0.4s;
    }

    /* picker */
    .dp-picker {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      font-weight: 100;
      font-size: 48px;
      direction: ltr;
      user-select: none;
      transition: opacity 0.4s, visibility 0s 0.4s;
    }

    &.dp-hebrew-selected-date .dp-picker {
      direction: rtl;
    }

    &:hover .dp-picker {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.4s, visibility 0s;
    }

    .dp-picker .dp-block {
      display: inline-block;
      vertical-align: middle;

      .dp-number {
        display: block;
        background: rgb(250, 250, 250);
        padding: 0 5px;
        border-radius: 6px;
        color: rgb(127, 127, 127);
        min-width: 56px;
        height: 62px;
        line-height: 60px;
        box-shadow: 1px -1px 8px #ccc;
      }

      .dp-arrow {
        display: block;
        font-size: 30px;
        color: rgb(217, 217, 217);
        transform: scale(1.1, 0.7);
      }
    }

    &.dp-hebrew-selected-date .dp-picker .dp-block {
      .dp-number {
        min-width: 80px;
      }

      &.dp-month .dp-number {
        min-width: 100px;
      }
    }
  }

  /* days list */
  .dp-day-list {
    position: relative;
    user-select: none;

    .dp-datepicker-row {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      min-height: 53px;
    }

    &.dp-hebrew-day-list .dp-datepicker-row {
      flex-direction: row;
      justify-content: flex-start;
    }

    .dp-datepicker-row:nth-of-type(2n-1) {
      background: rgb(250, 250, 250);
    }

    .dp-day {
      display: block;
      position: relative;
      text-align: center;
      width: 14.28%;
      padding: 12px 0;
      color: rgb(138, 137, 140);
      font-size: 22px;
      font-weight: 100;

      &.dp-current,
      &.dp-current:hover {
        color: rgb(24, 190, 140);
        font-weight: 100;
        text-decoration: underline;
      }

      &:hover {
        color: #000;
        font-weight: 400;
      }

      &.disabled {
        cursor: default;
        color: #e1e1e1;

        &:hover {
          color: #e1e1e1;
          font-weight: 100;
        }
      }

      .dp-day-translation {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 100%;
        font-size: 11px;
        left: 6px;
        border: solid 1px rgb(217, 217, 217);
        border-radius: 2px;
        white-space: nowrap;
        box-shadow: -1px 1px 3px #e0e0e0;
        transition: opacity 0.25s, visibility 0s 0.25s;
      }

      .dp-day:hover .dp-day-translation:not(:hover) {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.25s, visibility 0s;
      }

      .dp-day-translation::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #fff;
        position: absolute;
        border: solid 1px #ccc;
        box-shadow: -1px 1px 2px #ccc;
        left: 20px;
        bottom: -5px;
        transform: rotate(60deg) skewX(30deg);
      }

      .dp-day-translation .dp-day-translation-wrap {
        background: #fff;
        padding: 3px 20px;
        border-radius: 2px;
        font-weight: 400;
        white-space: nowrap;
        position: relative;
      }

      .dp-day-translation-wrap .dp-month {
        color: rgb(127, 127, 127);
        font-size: 14px;
      }

      .dp-day-translation-wrap .dp-week {
        color: rgb(191, 191, 191);
        margin: -1px auto 1px;
      }
    }

    .dp-today-button {
      position: absolute;
      display: inline-block;
      left: 15px;
      bottom: 12px;
      padding: 0 20px;
      font-size: 17px;
      line-height: 26px;
      font-weight: 400;
      color: rgb(89, 89, 89);
      background: #fff;
      border: solid 1px rgb(217, 217, 217);
      border-radius: 4px;

      &.disabled {
        cursor: default;
        color: #e1e1e1;

      }
    }
  }

  /* dp- */
  .dp-buttons {
    text-align: left;
    font-family: 'Open Sans Hebrew', arial, sans-serif;
    font-weight: 600;
    margin-top: 65px;

    .dp-button {
      display: inline-block;
      padding: 4px 18px 5px;
      width: 80px;
      border-radius: 4px;
      text-align: center;
      font-size: 15px;
      min-height: 29px;

      &.primary {
        width: 100px;
        color: #fff;
        background: rgb(24, 190, 140);
        font-size: 16px;
      }
    }
  }
}

.dp-datepicker-container {
  display: flex;
  align-items: flex-end;
  font-family: 'Assistant', 'Open Sans Hebrew', arial, sans-serif;
}

/* modal-box */
.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 10;
  user-select: none;

  &::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100vh;
    vertical-align: middle;
  }
}

.modal-box-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 550px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 18px 1px #888;
  user-select: text;
}

.modal-box-close {
  display: inline-block;
  font-size: 30px;
  color: #d9d9d9;
  line-height: 35px;
  width: 35px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px 0 0 10px;
  cursor: pointer;
}

.modal-box-header {
  color: #7f7f7f;
  font-size: 28px;
  text-align: right;
  padding: 15px 20px;
}

.modal-box-content {
  text-align: right;
  line-height: normal;

  .perfect-scrollbar {
    overflow-y: hidden;
    min-height: calc(50vh - 66px);
    max-height: 70vh;
    display: block;
    position: relative;
    direction: ltr;
    padding: 30px 65px;
  }

  .perfect-scrollbar modal-box-content {
    display: block;
    direction: rtl;
  }

  .ps-container > .ps-scrollbar-y-rail {
    opacity: 0.6;
  }
}
